/* Snow effect */
.snow-flake {
    position: absolute;
    top: -100px;
    pointer-events: none;
}

@keyframes falling {
    0% {
        top: -100px;
        transform: rotate(0deg);
    }
    100% {
        top: 100%;
        transform: rotate(360deg);
    }
}
